html{
    background-image: url("../images/background_stock.jpg");
    background-attachment: local;
}
body{
    width: 95%;
    margin: 0 auto 2% auto;
    border-radius: 20px;
    border: 4px solid #120095;
    background: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Ubuntu', sans-serif;
}

p, span{
    font-family: 'Open Sans', sans-serif;
}

.AppWrapper{
    display: flex;
}

#copyright{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: auto;
    font-size: 0.9rem;
}

@media(max-width:895px){
    body{
        width: 99%;
        margin: 0 auto;
    }
    .AppWrapper{
        margin: 0 auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}