.twitterFeed{
    width: 20%;
    padding-top: 2%;
    border-right: 2px solid blue;
    text-align: center;
}
.twitterFeed .twitterContent{
    height: 700px;
    overflow: auto;
}

.twitterFeed .twitterContent .tweet{
    width: 95%;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid blue;
    margin-bottom: 7%;
    background: white;
}

.twitterFeed .twitterContent .tweet p{
    padding: 3%;
}